/* 
    Document   : bearbox
    Created on : Feb 7, 2009, 3:20:12 PM
    Author     : kungfoo
    Description:
        Purpose of the stylesheet follows.
*/

div#bearbox-teddy{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 400px;
    background-image: url(../images/bearbox-teddy.jpg);
    z-index: -1;
}


div#content{
    margin-left: 400px;
    width: 600px;
    z-index: 2;
}

div.calendar{
    margin: 8px;
    height: 80px;
    width: 80px;
    background-image: url(../images/calendar.png);
    background-repeat: no-repeat;
}

div.month{
    width: 80px;
    margin:0;
    top: 3px;

    text-align: center;
    position: relative;
    font-style: normal;
    font-weight: 900;
    font-size: 11pt;
}

div.day{
    width:80px;
    margin: 0;
    text-align: center;
    position: relative;
    top: 22px;
    
  
    font-style: normal;
    font-weight: 900;
    font-size: 24pt;
}



p.quote{
    margin-top: -62px;
    padding-top: 5px;
    padding-left: 120px;
    width: 300px;
    font-family: "Palatino, serif", "Bookman, serif", "Times, serif";
    font-size: 14pt;
    text-align: justify;
    line-height: 18pt;
    font-style: italic;
}

span.quote{
    font-size: 22pt;
    font-weight: bold;
}

p.name{
    font-family: "Palatino, serif", "Bookman, serif", "Times, serif";
    width: 420px;
    text-align: right;
    font-size: 10pt;
    margin-top: -20px;
}

p#new-link{
    text-align: right;
    width: 480px;
}

a>img{
    border: 0;
    margin-top: 5px;
}

img.typo{
    margin-top: 10px;
    margin-bottom: -20px;
}

a>img:hover{
    
    background-color: #f6f6f6;
}

div.bearshout{
    width : 480px;
    border: 1px solid #cccccc;
    margin-bottom: 20px;
}

div#bearbox-list{
    width: 500px;
}

div#bracket{
    background-image: url(../images/bracket.png);
    background-position: left top;
    background-repeat:no-repeat;
    height: 80px;
}
